<footer class="barkeley-footer">
  <div fxFlex fxShow="false" fxShow.gt-xs="true">
    <div fxLayout="row" fxFlexAlign="start start" class="containerX box">
      <div fxFlex>
        <md-grid-list cols="4" rowHeight="400px">
          <md-grid-tile colspan="1">
            <div fxLayout="column" fxLayoutAlign="start start">
              <md-list dense>
                <h3>Visit</h3>
                <md-list-item><p style="padding-top: 2vmax">2730 San Pablo Avenue <br>Berkeley, CA 94702</p>
                </md-list-item>
                <md-list-item>
                  <a class="mdi mdi-google-maps mdi-24px" style="padding-top: 2vmax" target="_blank"
                     href="https://www.google.com/maps/place/The+Barkeley/@37.8569989,-122.2907383,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xe8fec39340c46671!8m2!3d37.8569989!4d-122.2885496">
                    View on Map</a>
                </md-list-item>
              </md-list>

              <md-list dense>
                <h3>Contact</h3>
                <md-list-item><p style="padding-top: 2vh">Phone: <a href="tel:+5109001023" title="Call us!">(510)
                  900-1023</a><br>
                  Email: <a href="mailto:info@thebarkeley.com" title="Email us!">info@thebarkeley.com</a></p>
                </md-list-item>
              </md-list>

              <md-list dense>
                <h3>Socialize</h3>
                <md-list-item>
                  <a class="mdi mdi-instagram mdi-24px" href="https://www.instagram.com/thebarkeley" target="_blank" title="Instagram"></a>
                  &nbsp;&nbsp;
                  <a class="mdi mdi-twitter-circle mdi-24px" href="https://twitter.com/thebarkeley" target="_blank" title="Twitter"></a>
                  &nbsp;&nbsp;
                  <a class="mdi mdi-youtube-play mdi-24px" href="https://www.youtube.com/channel/UCqEKrrxw5sEMwXsCvdxl8bA" target="_blank" title="YouTube">
                  </a>
                  &nbsp;&nbsp;
                  <a class="mdi mdi-facebook-box mdi-24px" href="https://www.facebook.com/The-Barkeley-1289192674470167/" target="_blank" title="Facebook"></a>
                  &nbsp;&nbsp;
                  <a class="mdi mdi-yelp mdi-24px" href="http://yelp.com/biz/the-barkeley-berkeley" target="_blank" title="Yelp!"></a>
                </md-list-item>
              </md-list>
            </div>
          </md-grid-tile>
          <md-grid-tile colspan="1">
            <div fxLayout="column" fxLayoutAlign="start start">
              <md-list dense>
                <h3>Learn More</h3>
                <md-list-item>
                  <p style="padding-top: 4vmax"><a routerLink="/amanda">Amanda's Story</a>
                    <br>
                    <a routerLink="/team">The Barkeley Team</a>
                    <br>
                    <a routerLink="/faq">FAQs</a></p>
                </md-list-item>
              </md-list>
              <p>&nbsp;</p>
              <md-list dense>
                <h3>Get Started</h3>
                <md-list-item>
                  <p style="padding-top: 4vmax"><a href="https://thebarkeley.gingrapp.com/customer" target="_blank">Register at The Barkeley</a>
                    <br>
                    <a routerLink="/register">Complete the Liability Waiver</a></p>
                </md-list-item>
              </md-list>
            </div>
          </md-grid-tile>
          <md-grid-tile colspan="2">
            <div>
              <app-contact></app-contact>
            </div>
            <img class="barkeley-logo" src="../assets/img/logo_color_small.png" title="&#169; 2017, The Barkeley">
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
  </div>

  <!-- for small screens-->
  <div fxFlex fxHide="false" fxHide.gt-xs="true">
    <div class="barkeley-center">
      <h2>Visit</h2>

      <h4 class="barkeley-footer-font">2730 San Pablo Avenue <br>Berkeley, CA 94702</h4>

      <h4><a class="mdi mdi-google-maps" target="_blank"
             href="https://www.google.com/maps/place/The+Barkeley/@37.8569989,-122.2907383,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xe8fec39340c46671!8m2!3d37.8569989!4d-122.2885496">
        View on Map</a>
      </h4>

      <h2>Contact</h2>

      <h4>Phone: <a href="tel:+5109001023" title="Call us!">(510) 900-1023</a></h4>

      <h4> Email: <a href="mailto:info@thebarkeley.com" title="Email us!">info@thebarkeley.com</a></h4>

      <h2>Lobby Hours</h2>
      <h4>Mon-Fri: 7am - 7pm</h4>
      <h4>Sat & Sun: 9am - 5pm</h4>
      <h2>Learn More</h2>

      <h4><a routerLink="/amanda">Amanda's Story</a></h4>

      <h4><a routerLink="/team">The Barkeley Team</a></h4>

      <h4><a routerLink="/faq">FAQs</a></h4>

      <h2>Get Started</h2>

      <h4><a href="https://thebarkeley.gingrapp.com/customer" target="_blank">Register at The Barkeley</a></h4>
      <h4><a href="https://thebarkeley.gingrapp.com/customer/front_end/reservations/add" target="_blank">Make A Reservation</a></h4>
      <h4><a routerLink="/register">Complete the Liability Waiver</a></h4>

      <h2>Socialize</h2>

      <h4>
        <a class="mdi mdi-instagram mdi-24px" href="https://www.instagram.com/thebarkeley" target="_blank" title="Instagram"></a>
        &nbsp;&nbsp;
        <a class="mdi mdi-twitter-circle mdi-24px" href="https://twitter.com/thebarkeley" target="_blank" title="Twitter"></a>
        &nbsp;&nbsp;
        <a class="mdi mdi-youtube-play mdi-24px" href="https://www.youtube.com/channel/UCqEKrrxw5sEMwXsCvdxl8bA" target="_blank" title="YouTube">
        </a>
        &nbsp;&nbsp;
        <a class="mdi mdi-facebook-box mdi-24px" href="https://www.facebook.com/The-Barkeley-1289192674470167/" target="_blank" title="Facebook"></a>
        &nbsp;&nbsp;
        <a class="mdi mdi-yelp mdi-24px" href="http://yelp.com/biz/the-barkeley-berkeley" target="_blank" title="Yelp!"></a>
      </h4>
    </div>

    <div>
      <app-contact></app-contact>
    </div>
    <img class="barkeley-logo overlay" src="../assets/img/logo_color_small.png" title="&#169; 2017, The Barkeley">
  </div>
</footer>
