<div fxFlex fxShow="false" fxShow.gt-xs="true">
  <div class="barkeley-service">
    <h1 class="barkeley-service-title">Daycare</h1>
  </div>
</div>
<div fxFlex fxHide="false" fxHide.gt-xs="true">
  <div class="barkeley-service-small">
    <h1 class="barkeley-service-title small"><i class="mdi mdi-stadium"></i><br>Daycare</h1>
  </div>
</div>
<div class="barkeley-service-content">
  <h1>Playtime at The Barkeley</h1>

  <p>At The Barkeley we know that dogs have an instinctual desire to be part of a pack. Giving your pup regular play
    time with other dogs has a number of benefits. Here are a few that top the list:</p>

  <ul class="barkeley-list circle">
    <li>Increases socialization, both with other dogs and people
    </li>
    <li>Reinforces positive behavior in other settings, including and importantly, your own home
    </li>
    <li>Promotes physical fitness
    </li>
  </ul>

  <p><img class="barkeley-shadow-box float-right" src="../assets/img/amber.jpg">The daycare program at The Barkeley is
    cageless and designed to encourage open play among the dogs in our care. We have over 2,500sf of
    indoor yards - they are sunny and feature modern climate control and drainage systems. Your dog will have a full day
    of socializing, safe play, and lounging about with friends at The Barkeley, ready to come home with you in the
    evening happy and ready to kick back.</p>

  <p>We place dogs in play groups based on size and temperament to ensure each dog's health, safety and happiness. And
    every dog spends their day under the constant supervision of our staff. And we've equipped each yard with a high
    resolution web cam so you can check in on your pet throughout the day from your computer or smart phone.
    You'll see firsthand how attentive our yard specialists are with your dog.
  </p>

  <p>Before staying with us, we'll meet with you and your dog to ensure they will be a good fit for open play.</p>

  <h1>A Team You Can Trust</h1>

  <p>The Barkeley's team of dog care professionals will provide a safe and fully supervised environment. Our yard
    attendants are trained on dog body language and behavior to ensure the safety and well being of the dogs in our
    care.
  </p>

  <p>
    Our team will take detailed notes on your dog’s activities, allowing us to easily identify subtle behavioral changes
    that may indicate possible health issues. Because we're a boutique facility, we can give your dog the time and
    attention they deserve.
  </p>

  <h1>Rates</h1>

  <p>Daycare at The Barkeley is offered at a flat full-day rate, and we offer a choice of bundled visit packages to save
    you money and reduce hassle.</p>

  <ul class="barkeley-list disc">
    <li>
      <b>Good</b>:&nbsp;&nbsp;$43 for single day
    </li>
    <li>
      <b>Better</b>:&nbsp;&nbsp;$387 10-day package (10% discount)
    </li>
    <li>
      <b>Best</b>:&nbsp;&nbsp;$731 20-day package ($15% discount)
    </li>
  </ul>

  <h1>Hours</h1>

  <p>While our facility is staffed 24 hours a day 365 days a year, to ensure the safety of our staff and overnight
    guests, please note that our lobby is open only at the times listed below.</p>

  <h4>Open Mon-Fri: 7am - 7pm, Sat & Sun: 9am - 5pm</h4>

  <h1>Early Drop Off and Late Pickup</h1>

  <p>Our Lobby is open from 7am-7pm Monday through Friday and 9am-5pm Saturday and Sunday for pick up and drop off.
    Should you need an early drop off or late pick up outside of our lobby hours, please call ahead of time during our
    regular business hours to make special arrangements. Please note that there is a $20 fee for all pick ups and drop
    offs after regular hours. Although we are staffed 24-hours a day and try to accommodate clients whenever we can,
    there are no late pick ups allowed after 9pm to ensure the safety of our staff and the other dogs in our care.</p>

  <h1>Cancellation</h1>

  <p>We ask that you cancel daycare reservations no later than 10am the day before your visit. You will be charged for a
    day's visit for late cancellations and/or no-shows.</p>
</div>
