<div class="barkeley-service">
  <h1 class="barkeley-service-title">Day Care</h1>
</div>
<div class="barkeley-service-content">
  <h1>Supervised Play Yards</h1>

  <p>Our facility includes four play yards that are fully supervised. We've organized our yards to group dogs
    by size, personality and play style to make sure your dog is safe and comfortable. Before
    staying with us, we'll meet with you and your dog to ensure they will be a good fit for open play.</p>

  <p>Our play yards have state-of-the-art web cams and so you can check in on your pet throughout the day
    from your computer or smart phone. You’ll see firsthand how attentive our yard specialists are with your dog.</p>


  <h1>A Team You Can Trust</h1>

  <p><img class="barkeley-img-float-right" src="../../assets/img/amber.jpg">The Barkeley's team of dog care
    professionals will provide a safe and fully supervised environment. Our yard attendants are trained on dog body
    language and behavior to ensure the safety and well being of the dogs in our care. We're dedicated to giving your
    dog a day filled with:
  </p>
  <ul>
    <li>exercise</li>
    <li>socialization</li>
    <li>positive education</li>
  </ul>
  <p>
    Our team will take detailed notes on your dog’s activities, allowing us to easily identify subtle behavioral changes
    that may indicate possible health issues. Because we're a boutique facility we're confident we'll be abel to give
    your dog the time and attention they deserve.
  </p>
</div>
