<div class="barkeley-service-content">
  <h1>Playtime at The Barkmont</h1>

  <p>The daycare program at The Barkmont is cageless and designed to encourage open play among the dogs in our care. We
    have over 2,000sf of indoor yards - they are sunny and feature modern climate control and drainage systems. Your dog
    will have a full day of socializing, safe play, and lounging about with friends at The Barkmont, ready to come home
    with you in the evening happy and ready to kick back.</p>

  <p><img class="barkeley-shadow-box float-right" src="../assets/img/amber.jpg">We place dogs in play groups based on
    size and temperament to ensure each dog's health, safety and happiness. And every dog spends their day under the
    constant supervision of our staff.
  </p>

  <p>Before staying with us, we'll meet with you and your dog to ensure they will be a good fit for open play.</p>

  <h1>A Team You Can Trust</h1>

  <p>The Barkmont's team of dog care professionals will provide a safe and fully supervised environment. Our yard
    attendants are trained on dog body language and behavior to ensure the safety and well being of the dogs in our
    care.
  </p>

  <p>
    Our team will take detailed notes on your dog’s activities, allowing us to easily identify subtle behavioral changes
    that may indicate possible health issues. Because we're a boutique facility, we can give your dog the time and
    attention they deserve.
  </p>

  <h1>Rates</h1>

  <p>Daycare at The Barkmont starts at a single-day rate of $43, plus a choice of bundled visit packages to save
    you money and reduce hassle.</p>

  <ul class="barkeley-list disc">
    <li>
      <b>Good</b>:&nbsp;&nbsp;$43 for single day
    </li>
    <li>
      <b>Better</b>:&nbsp;&nbsp;$387 10-day package (10% discount)
    </li>
    <li>
      <b>Best</b>:&nbsp;&nbsp;$731 20-day package ($15% discount)
    </li>
  </ul>

  <p>You can use a daycare package at any time for any dog in your family.</p>

  <h2>Monthly Subscriptions</h2>

  <p>If you would like to use our daycare service on a daily basis, consider purchasing a month-to-month subscription.
    The cost for a subscription is $585 and entitles you to daycare for your dog any day for the entire
    month. Subscriptions can be renewed automatically and they are a great option for customers who need regular
    daycare for their pup while they are at work.</p>

  <p>We offer a limited number of subscriptions in order to ensure we have space for all our guests on any
    given day. Talk to us on your next visit to The Barkmont about enrollment and availability.</p>

  <h1>Hours</h1>

  <p>While our facility is staffed 24 hours a day 365 days a year, to ensure the safety of our staff and overnight
    guests, please note that our lobby is open only at the times listed below.</p>

  <h4>Open Mon-Fri: 7am - 7pm, Sat & Sun: 9am - 5pm</h4>

  <h1>Early Drop Off and Late Pickup</h1>

  <p>Our Lobby is open from 7am-7pm Monday through Friday and 9am-5pm Saturday and Sunday for pick up and drop off.
    Should you need an early drop off or late pick up outside of our lobby hours, please call ahead of time during our
    regular business hours to make special arrangements. Please note that there is a $25 fee for all pick ups and drop
    offs after regular hours. Although we are staffed 24-hours a day and try to accommodate clients whenever we can,
    there are no late pick ups allowed after 9pm to ensure the safety of our staff and the other dogs in our care.</p>

  <!--<iframe src="http://g1.ipcamlive.com/player/player.php?alias=598a72593dc85" width="640px" height="360px"-->
          <!--frameborder="0" allowfullscreen></iframe>-->

  <!--<h1>Cancellation</h1>-->

  <!--<p>We ask that you cancel daycare reservations no later than 10am the day before your visit. You will be charged for a-->
  <!--day's visit for late cancellations and/or no-shows.</p>-->
</div>
