<div fxFlex fxShow="false" fxShow.gt-xs="true">
  <img class="barkeley-service-image" src="../../assets/img/dog-walk-banner.jpg">
</div>
<div fxFlex fxHide="false" fxHide.gt-xs="true">
  <div class="barkeley-service-small">
    <h1 class="barkeley-service-title small">
      <br>
      Welcome!
    </h1>
  </div>
</div>

<div class="barkeley-service-content">
  <h1>A Berkeley First</h1>

  <p>Did you know that The Barkeley will be the first licensed dog daycare and boarding facility in the City of
    Berkeley? We didn't ourselves until we started planning our opening last summer. We're proud to be the first.</p>

  <p>We open in March, but it's not too soon to get in touch to learn more or schedule a visit. Call us at <a
    href="tel:+5109001023">(510) 900-1023</a> or email us at <a href="mailto:info@thebarkeley.com" title="Email us!">info@thebarkeley.com</a>
    now!</p>

  <h1>Our Facility</h1>

  <p>We're located at the corner of San Pablo and Pardee in West Berkeley, convenient locally and a few short blocks
    away from the Ashby and University exits of the I80/580.</p>

  <p>Our building is 4,000 sqft. Constructed in 1938 as a typewriter factory and sales office, the space was
    more recently used as an auto repair shop. After taking over the building, we undertook a complete remodel, starting
    with a floor to rafter cleaning and demolition. We've given the building a modern design focused on providing the
    highest quality dog daycare and boarding services in the Bay Area, a job that included updating the plumbing and
    electricity, adding floor drains, and installing modern heating and ventilation systems.</p>

  <h1>Our Focus</h1>

  <p>Our aim is to make the experience for all our dogs the best it can possibly be, so we will keep strict limits on
    the number of dogs in each of our play areas. And for you, we have an easy-to-use scheduling (coming soon) module,
    so you can plan your daycare or boarding stay with us without hassle or worry.</p>

  <p>Given the modest size of our facility, our design is ideal for small to medium sized dogs. We can also care for a
    limited number of larger dogs. Call us to find out if The Barkeley is a good fit for your pup.</p>

  <h2>Daycare</h2>

  <p>A highlight of The Barkeley is our four indoor play yards. Our main yards sit under large skylights
    that soak the building in warm sunlight throughout the day. Complementing our main yards are smaller adjacent yards
    for senior dogs, puppies or dogs who do best in smaller play groups.</p>

  <p>And all of our yards are equipped with high-resolution web cams for you to check in on your pup from your computer
    or smart phone.
  </p>

  <h2>Boarding</h2>

  <p>The Barkeley is staffed 24 hours a day, 7 days a week by our professional and caring staff. In addition to
    around-the-clock care, our overnight guests will enjoy clean and comfortable sleeping accommodations that come with
    a soft bed, clean blankets and access to fresh water at all times. Our boarding area is climate controlled so guests
    are always comfortable. At bedtime we provide a calming spa-like atmosphere with aromatherapy and soft soothing
    music to send our canine guests gently to sleep.</p>

  <h4>Training</h4>

  <p>We don't have certified dog trainers on staff at The Barkeley. However, we are prepared to work with local
    trainers who can provide training for your dog during their stay at The Barkeley. Contact us to learn more.</p>

  <h4>Grooming</h4>

  <p>We have a brand new dog wash station at The Barkeley and we offer basic washing, brush and nail clipping as a
    service. For full service grooming (as with training), contact us to learn more about scheduling a spa session with
    one of our affiliated fully-equipped local groomers while your dog is in our care.</p>

  <h1>A Team You Can Trust</h1>

  <p><img class="barkeley-shadow-box float-right" src="../../assets/img/amanda-portrait.jpg">The Barkeley's team of dog
    care
    professionals will provide a safe and fully supervised environment. Our team members are trained on dog body
    language and behavior. We’ll shower your pup with individual attention and affection, and help them reach their full
    potential at
    any age.
  </p>

  <h1>Want a Preview?</h1>

  <p>
    While we're still hard at work getting our building ready for our grand opening in March, we're available now to
    give you a tour. Just give us call or drop us a line to schedule a time for you to visit. We know you'll like what
    you see!
  </p>
</div>

