<img class="barkeley-service-image" src="../../assets/img/dog-walk-banner.jpg">
<div class="barkeley-service-content">
  <h1>A Berkeley First</h1>

  <p>Did you know that The Barkeley will be the first licensed dog day care and boarding facility in the City of
    Berkeley? We didn't ourselves until we started planning our opening last summer. We're proud to be the first.</p>

  <p>We open in March, but it's not too soon to get in touch with us to learn more or schedule a visit. Call us at (510)
    900-1023 or email us at info@thebarkeley.com now!</p>

  <h1>Our Facility</h1>

  <p>We're located at the corner of San Pablo and Pardee in West Berkeley, convenient locally and from the
    Ashby and University exits of the I80/580.</p>

  <p>Our building is 4,000 sqft. Constructed in 1938 as a typewriter factory and sales office, the building was
    more recently used as an auto repair shop. After taking over the building, we undertook a complete remodel of
    the space, starting with a floor to rafter cleaning and demolition of the interior space. We've given the building
    a modern design focused on providing the highest quality dog daycare and boarding services for your dog , a job that
    included updating the plumbing and electricity, adding floor drains, and installing modern heating and ventilation
    systems.</p>

  <h1>Our Focus</h1>

  <p>Given the modest size of our facility, our design is optimized to accommodate small to medium sized dogs. We can
    also accommodate a limited number of larger dogs. But if you have a large active dog, we may not be the right
    facility for you.</p>

  <p>Our aim is to make the experience for all our dogs the best it can possibly be, so we will keep strict limits on
    the number of dogs in each of our play areas. Our easy-to-use scheduling software (coming soon) will make it easy
    for both us and you to plan your daycare or boarding stay without hassle or worry.</p>

  <h2>Daycare</h2>

  <p>A highlight of The Barkeley is our four individual play yards. Our main yards sit under large skylights
    that soak the building in warm sunlight throughout the day. Complementing our main yards are smaller adjacent yards
    for senior dogs, puppies or dogs who do best in smaller play groups.</p>

  <p>And all of our yards are equipped with high-resolution web cams for you to check in on your pup from your computer
    or smart phone.
  </p>

  <h2>Boarding</h2>

  <p>Another key focus of The Barkeley is to provide the best overnight care in the area for your dog. Our standard
    kennels can be configured to accommodate one or two dogs, and we will also offer a limited number of larger
    stall-styled rooms.</p>

  <h4>Training</h4>

  <p>We don't have certified dog trainers on staff at The Barkeley. However, we are prepared to work with local
    trainers who can provide training for your dog during their stay at The Barkeley. Contact us to learn more.</p>

  <h4>Grooming</h4>

  <p>We have a brand new dog wash station at The Barkeley and we offer basic washing, brush and nail clipping as a
    service. For full service grooming (as with training), contact us to learn more about scheduling a spa session with
    one of our affiliated fully-equipped local groomers while your dog is in our care.</p>

  <h1>A Team You Can Trust</h1>

  <p><img class="barkeley-img-float-right" src="../../assets/img/amanda-portrait.jpg">The Barkeley's team of dog care
    professionals will provide a safe and fully supervised environment. Our team members are trained on dog body
    language and behavior. We’ll shower your pup with individual attention and affection, and help them reach their full
    potential at
    any age.
  </p>

  <h1>Want a Preview?</h1>

  <p>
    While we're putting the final touches on the facility before our grand opening, in the coming weeks we'll be
    available for tours on Saturdays and Sundays. Just give us call or drop us a line to schedule a time for you to
    visit.
  </p>
</div>
