<div class="barkeley-service-content">

  <h1>Welcome to The Barkmont</h1>

  <p>The Barkmont provides the finest dog daycare and boarding services in Berkeley and its surrounding communities.
    We're located at the corner of San Pablo and Pardee in West Berkeley, convenient locally and a few short blocks
    away from the Ashby and University exits of the I80/580.</p>

  <h2>Take a virtual tour!</h2>

  <p>We remodelled the building with a design focused on providing the highest quality dog daycare and
    boarding services in the Bay Area, a job that included updating the plumbing and electricity, adding floor drains,
    and installing modern heating and ventilation systems.</p>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m0!4v1499107660756!6m8!1m7!1sF%3A-TAyR1aQj_tM%2FWVKnoi6_5LI%2FAAAAAAABWoE%2FDYSy7wV1-LMolMdwCP5Rvii4JPcaK1SLACLIBGAYYCw!2m2!1d37.85701981252567!2d-122.2883960435339!3f262.21!4f-2.8100000000000023!5f0.4000000000000002"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  <h2>Sign Up Today</h2>

  <p>Interested in signing your dog up for daycare or boarding? It's as simple as 1-2-3:</p>

  <ol type="1">
    <li>Please start by reviewing our <a routerLink="/register">Requirements</a> for vaccinations and general health.
    </li>
    <li>Next, use our online <a href="https://thebarkeley.gingrapp.com/customer" target="_blank">Registration</a>
      tool to fill out the necessary forms. Don't forget your dog's vaccination status: upload it to your
      account or ask your veterinarian to send it to us at <i>vax@thebarkeley.com</i>.
    </li>
    <li>Then <a href="https://thebarkeley.gingrapp.com/front_end/reservations/add" target="_blank">Book</a> your dog's
      first stay.
    </li>
  </ol>

  <h2>Our Focus</h2>

  <p>Our aim is to make the experience for all our dogs the best it can possibly be, so we limit the number of dogs in
    each of our full-supervised play areas. And for you, we have an easy-to-use <a
      href="https://thebarkeley.gingrapp.com/customer">customer registration and scheduling module</a>,
    so you can plan your daycare or boarding stay with us without hassle or worry.</p>

  <div id="google-reviews"></div>
  <h3>Daycare</h3>

  <p>A highlight of The Barkmont is our four indoor play yards. Our main yards sit under large skylights
    that soak the building in warm sunlight throughout the day. Complementing our main yards are smaller adjacent yards
    for senior dogs, puppies or dogs who do best in smaller play groups.</p>

  <p>Our yards are equipped with high-resolution web cams for you to check in on your pup from your computer
    or smart phone.
  </p>

  <h3>Boarding</h3>

  <p>The Barkmont is staffed 24 hours a day, 7 days a week by our professional and caring staff. In addition to
    around-the-clock care, our overnight guests will enjoy clean and comfortable sleeping accommodations that come with
    a soft bed, clean blankets and access to fresh water at all times. Our boarding area is climate controlled so guests
    are always comfortable. At bedtime we provide a calming spa-like atmosphere with aromatherapy and soft soothing
    music to send our canine guests gently to sleep.</p>

  <h4>Training</h4>

  <p><img class="barkeley-shadow-box float-right" src="../../assets/img/amanda-portrait.jpg">We believe that a key to
    happiness is being a lifelong learner. Same goes for dogs. If you're interested in training for your pup, we can
    arrange training sessions for your dog during their stay at The Barkmont. Contact us to learn more.</p>

  <h4>Grooming</h4>

  <p>We have a brand new dog wash station at The Barkmont and we offer basic washing, brush and nail clipping as a
    service. Contact us to learn more about scheduling a spa session with one of our affiliated fully-equipped local
    groomers while your dog is in our care.</p>

  <h2>A Team You Can Trust</h2>

  <p>The Barkmont's team of dog care professionals will provide a safe and fully supervised environment. Our team
    members are trained on dog body language and behavior. We’ll shower your pup with individual attention and
    affection, and help them reach their full potential at any age.
  </p>

</div>

