<div class="barkeley-email-form">
  <div fxFlex fxShow="false" fxShow.gt-xs="true">
    <h3>Drop Us a Line</h3>
  </div>
  <div fxFlex fxHide="false" fxHide.gt-xs="true">
    <h2 style="text-align: center">Drop Us a Line</h2>
  </div>
  <md-card>
    <md-card-content>
      <div>
        <md-input-container>
          <input md-input [(ngModel)]="contact.name" placeholder="Your name" size="30" required/>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input md-input [(ngModel)]="contact.telephone" type="tel" placeholder="Phone"
                 size="30"/>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input md-input [(ngModel)]="contact.email" type="email" placeholder="Email" size="30" required/>
        </md-input-container>
      </div>
      <div>
        <md-input-container width="90%">
        <textarea md-input [(ngModel)]="contact.message" placeholder="Tell us about your dog" rows="2"
                  cols="100" required></textarea>
        </md-input-container>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-mini-fab (click)="sendMail(contact); $event.stopPropagation()"><i class="mdi mdi-email-variant"></i></button>
    </md-card-actions>
  </md-card>
</div>
