<div class="barkeley-service-content">
  <h1>Puppy Socialization Program</h1>

  <p>The critical socialization period for puppies ends at about 4 months of age. During this time you can shape the
    puppy’s view of their world at a stage in the puppy’s life when they are receptive to learning. Positive experiences
    help puppies to learn that new things are fun, and remember the good association when the puppy encounters them
    again later.</p>

  <p><img class="barkeley-shadow-box float-right" src="../assets/img/puppy.jpg">It’s important for pet parents to take
    advantage of the socialization period and provide their puppy
    with positive experiences in the world.
  </p>

  <ul class="barkeley-list disc">
    <li>This program is designed for puppies under 4 months of age</li>
    <li>Program runs 9 am-4 pm M-F</li>
    <li>Package should be completed by the time the puppy is 4 months of age</li>
    <li>Vaccination requirements still apply</li>
    <li>Puppies should be in their new home for at least 2 weeks prior to enrolling in the program</li>
    <li>Cost for the program is $300 for 5 days (not offering drop in rates for this program)</li>
    <li>Safe energy outlet for the puppy during its critical period of socialization</li>
    <li>Owners are encouraged to bring their own treats for their puppy</li>
    <li>Puppies will alternate between play sessions with other puppies of a similar age and rest time in their lodging
      enclose or crate. Young puppies need more rest than adult dogs and should be allowed more time to sleep during the
      day.
    </li>
  </ul>

  <h2>Activities Include</h2>
  <ul class="barkeley-list disc">
    <li>Basic cues such as sit and down</li>
    <li>Handling (touching ears and paws using treats)</li>
    <li>Recall</li>
    <li>Exposure to obstacles and going over/under things (chairs, tables, tunnels, etc)</li>
    <li>Exposure to different walking surfaces on the ground</li>
    <li>Exposure to being on table (mimic veterinarian or grooming table)</li>
    <li>Pretend grooming (nail trims, bathing, towel drying, grooming tub)</li>
    <li>Exposure to people walking with grocery bags and large purses</li>
    <li>Exposure to people in hats and glasses</li>
    <li>Exposure to sounds (desensitization CD)</li>
    <li>Exposure to moving objects (bikes, skateboards, vacuum, etc)</li>
    <li>Crate training</li>
    <li>Loose leash walking</li>

    <li>Housetraining</li>
  </ul>


</div>
