<div fxFlex fxShow="false" fxShow.gt-xs="true">
  <div class="barkeley-service">
    <h1 class="barkeley-service-title">Grooming</h1>
  </div>
</div>
<div fxFlex fxHide="false" fxHide.gt-xs="true">
  <div class="barkeley-service-small">
    <h1 class="barkeley-service-title small"><i class="mdi mdi-flower"></i><br>Grooming</h1>
  </div>
</div>
<div class="barkeley-service-content">
  <h1>The Barkmont Spa</h1>

  <p>We offer basic bathing services for our guests during their stay with us. If you would like your dog to receive a
    little extra pampering while they are boarding or at daycare please make an appointment prior to their visit. Also
    please note that we do not offer drop-ins for grooming but we are happy to refer you to one of the wonderful
    groomers in the area.</p>

  <mat-grid-list cols="2" rowHeight="22px" gutterSize="10px">
    <mat-grid-tile colspan="2"><b>Bath</b></mat-grid-tile>
    <mat-grid-tile colspan="1">Smooth coat up to 15lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$25.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Smooth coat 15lbs-20lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$30.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Smooth coat 20lbs-25lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$35.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Smooth coat 25lbs-30lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$40.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Smooth coat 30lbs-35lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$45.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Long coat up to 15lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$35.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Long coat 15lbs-20lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$40.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Long coat 20lbs-25lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$45.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Long coat 25lbs-30lbs</mat-grid-tile>
    <mat-grid-tile colspan="1">$50.00</mat-grid-tile>
    <mat-grid-tile colspan="1">Flea Treatment*</mat-grid-tile>
    <mat-grid-tile colspan="1">$35.00 + cost of bath</mat-grid-tile>
    <mat-grid-tile colspan="1">De-Skunking Treatment**</mat-grid-tile>
    <mat-grid-tile colspan="1">$35.00 + cost of bath</mat-grid-tile>
    <mat-grid-tile colspan="2"><b>Extras</b></mat-grid-tile>
    <mat-grid-tile colspan="1">Brush out</mat-grid-tile>
    <mat-grid-tile colspan="1">$15-$45</mat-grid-tile>
    <mat-grid-tile colspan="1">Nail clip</mat-grid-tile>
    <mat-grid-tile colspan="1">$15-$25</mat-grid-tile>
  </mat-grid-list>
  <p>*Flea Treatment will be administered immediately at the expense of owner if a dog is found to have fleas present
    during their stay.
  </p>

  <p>**De-Skunking Treatment will be administered if deemed necessary by our staff or at the request of owner.</p>
</div>

