<div fxFlex fxShow="false" fxShow.gt-xs="true">
  <div class="barkeley-service">
    <h1 class="barkeley-service-title">Grooming</h1>
  </div>
</div>
<div fxFlex fxHide="false" fxHide.gt-xs="true">
  <div class="barkeley-service-small">
    <h1 class="barkeley-service-title small"><i class="mdi mdi-flower"></i><br>Grooming</h1>
  </div>
</div>
<div class="barkeley-service-content">
  <h1>Not Quite Ready</h1>

  <p>Sorry, but we're still hard at work on both our web site and facility. But please, do come back soon because we'll
    have this page up and running faster than your
    pups can devour their favorite snack.</p>
</div>

