@import '~@angular/material/core/theming/all-theme';

@include md-core();

$font-stack: 'Raleway', sans-serif;

$primary-color-dark: #948b7a;
$primary-color: #f7e9cc;
$primary-color-light: #f6e6c3;
$accent-color: #BDBDBD;
$primary-text-color: #5F4612;
$secondary-text-color: #958D7B;
$divider-color: #BDBDBD;

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}

@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
.md-dialog-container {
  background: white !important;
    overflow: auto;
    max-width: 95vw;
    width: 100%;
    height: 100%;
}

.md-grid-tile .barkeley-tile-left {
  justify-content: left !important;
}

.barkeley-font {
  font-family: $font-stack !important;
  font-size: inherit;
}

.md-select-option {
  font-family: $font-stack !important;
  font-size: inherit;
}


.md-select-placeholder {
  font-size: 5.2vw;
  line-height: normal;
  color: $primary-text-color !important;
}

.md-select-content {
  background: white !important;
}

body {
  margin: 0;
  font: 100% $font-stack !important;
  font-size: 2.1vmin;
  line-height: normal;
  color: $primary-text-color;
}

head {
  font: $font-stack !important;
}

p {
  font-family: $font-stack !important;
  color: $primary-text-color;
  font-size: 2.3vmin !important;
  line-height: normal;
}

a {
  text-decoration: none !important;
  font: $font-stack !important;
  font-size: inherit;
  font-weight: bold;
  color: $primary-text-color !important;
}

a.barkeley-menu-main {
  font-size: 5.2vw;
  font-weight: normal;
  text-align: center;
  margin-outside: 10px;
}

a.barkeley-menu-sub {
  font-size: inherit !important;
}

h1 {
  font-size: 5.2vmin;
  line-height: normal;
}

h2 {
  font-size: 4vmin;
  margin-bottom: 5px !important;
  line-height: normal;
}

h3 {
  font-size: 3vmin;
  margin-bottom: 0;
  line-height: normal;
}

h4 {
  font-size: 2.8vmin;
  color: black;
  font-weight: bold;
  position: relative;
  line-height: normal;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  font-family: $font-stack !important;
}

textarea {
  font-family: $font-stack !important;
}

button {
  font-family: $font-stack !important;
}

figure {
  align-items: flex-start !important;
  font: $font-stack !important;
  font-size: 2.3vmin !important;
}



div.barkeley-center {
  text-align: center;
  padding-top: 1vh;
}

div.black {
  color: black;
}

ul.barkeley-list {
  list-style: none outside;
  font-size: 2.6vmin;
}

ul.circle {
  list-style: circle;
}

ul.square {
  list-style: square;
}

ul.disc {
  list-style: disc;
}

span.barkeley-menu {
  vertical-align: 25%;
  z-index: 2;
}

div.barkeley-menu-dialog {
  background-color: white !important;
  opacity: 1.0 !important;
}

.barkeley-header-logo {
  width: 100%;
  height: 75px;
  background-size: contain;
  background: url('assets/img/barkeley_title.png') no-repeat left bottom;
  float: left;
  margin-left: 3%;
  margin-right: -8%;
  display: inline;
}

.hamburger-button {
  left: 12px;
  background-color: $primary-color-light;
}

.barkeley-menu-item {
  display: inline !important;
  z-index: 2;
}

.barkeley-left {
  display: inline-block;
  float: left;
  margin-left: 5%;
  font-size: 1vmax !important;
}

.barkeley-right {
  position: relative;
  left: 50px;
  margin-right: 5%;
  box-sizing: inherit;
  font-size: 1vmax !important;
}

.barkeley-right-small {
  position: relative;
  text-align: right;
  margin-right: 5vmax;
  box-sizing: inherit;
  font-size: 2vmax !important;
}

.barkeley-nav-item {
  position: relative;
  top: 30px;
  font-size: 18px !important;
  font-family: $font-stack !important;
}

.barkeley-service-content {
  background-color: #fff;
  margin-left: 8%;
  margin-right: 15%;
  padding: 10px;
  z-index: 2;
}

.barkeley-service-content-small {
  background-color: #fff;
  margin-left: 8%;
  margin-right: 15%;
  padding: 5px 20px;
  z-index: 2;
  position: relative;
  margin-top: -75px;
}

img.float-right {
  margin: 0 0 10px 10px;
  float: right;
}

img.barkeley-shadow-box {
  width: 20vmax;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

// google review styling
//colors
$color_silver_35_approx: rgba(190,190,190,.35);
$color_anzac_approx: #e4b248;
$color_pumice_approx: #c6c6c6;

#map-plug {
  display: none;
}
#google-reviews {
  display: flex;
  flex-wrap: wrap;
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.review-item {
  border: solid 1px $color_silver_35_approx;
  margin: 0 auto;
  padding: 1em;
  flex: 1 1 20%;
}
@media(max-width:1200px) {
  .review-item {
    flex: 1 1 40%;
  }
}
@media(max-width:450px) {
  .review-item {
    flex: 1 1 90%;
  }
}
.review-meta {
  text-align: center;
  font-size: 115%;
}
.review-stars {
  text-align: center;
  font-size: 115%;
  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-right: 1px;
      line-height: 1;
      i {
        color: $color_anzac_approx;
        font-size: 1.4em;
        font-style: normal;
        &.inactive {
          color: $color_pumice_approx;
        }
      }
    }
  }
}
.review-author {
  text-transform: capitalize;
  font-weight: bold;
}
.review-date {
  opacity: .6;
  display: block;
}
.review-text {
  line-height: 1.55;
  text-align: left;
  max-width: 32em;
  margin: auto;
}
.star:after {
  content: "\2605";
}

// main
img.barkeley-service-image {
  width: 100%;
  margin: 0;
  background-size: cover;
  background: no-repeat 50% 0;
  z-index: -1;
}

div.barkeley-service {
  width: 100%;
  margin: 0;
  background-size: cover;
  background: url('assets/img/dog-banner.jpg') no-repeat 50% 0;
  min-height: 20vmax;
  z-index: -1;
}

div.barkeley-service-small {
  position: relative;
  width: 100%;
  margin: 0;
  background-size: contain;
  background: url('assets/img/dog-banner-small.jpg') no-repeat 50% 0;
  min-height: 150px;
  z-index: -1;
}

h1.barkeley-service-title {
  color: white;
  font-size: 6vw;
  font-weight: bold;
  float: right;
  margin-right: 100px;
  margin-top: 50px;
  box-sizing: inherit;
  z-index: 2;
}

h1.small {
  font-size: 8vw;
  float: none;
  text-align: center;
  margin-top: 100px;
  margin-right: 0;
  padding-top: 30px;
}

.barkeley-email-form {
  min-width: 200px;
  margin-bottom: 50px;
}

.barkeley-header-top {
  width: 100%;
  background-color: $primary-color-light;
  min-height: 35px;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  font-family: $font-stack;
}

.barkeley-header-banner {
  background-color: #fff;
  width: 100%;
  padding: 65px 0 20px;
  position: fixed;
  top: 0;
  height: 145px;
  z-index: 99;
}

.barkeley-header-banner-small {
  background-color: #fff;
  width: 100%;
  padding: 35px 0 20px;
  position: fixed;
  top: 0;
  height: 95px;
  z-index: 99;
}

.barkeley-header-logo-small {
  width: 100%;
  height: 50px;
  background-size: contain;
  background: url('assets/img/barkeley_title_small.png') no-repeat center center;
  margin-top: 10px;
  display: inline-block;
}

.barkeley-footer {
  background-color: $primary-color;
  color: $primary-text-color;
}

.barkeley-content {
  height: auto;
  margin: 14vmax 0;
  z-index: 3;
}

.barkeley-content-small {
  height: auto;
  margin: 135px 0;
  z-index: 3;
}

.barkeley-small {
  font-family: $font-stack;
  font-size: small;
}

img.barkeley-logo {
  height: auto;
  width: auto;
  max-width: 13 0px;
  max-height: 180px;
  margin: 30px;
}

img.right {
  float: right;
}

img.overlay {
  float: right;
  position: relative;
  display: block;
  margin: -85px 30px 0 auto;
  height: 120px;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.active {
  background-color: white !important;
  color: $primary-text-color;
}

.grid {
  margin: 0;
}

.col-1-4 {
  width: 25%;
}

.module {
  padding: 20px;
  text-align: center;
  color: #ffcc33;
  max-height: 120px;
  min-width: 120px;
  background-color: #003333;
  border-radius: 2px;
}

.module:hover {
  background-color: $primary-color-dark;
  cursor: pointer;
  color: $secondary-text-color;
}

.grid-pad {
  padding: 10px 0;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

