<div fxFlex fxShow="false" fxShow.gt-sm="true">
  <div class="barkeley-service">
    <h1 class="barkeley-service-title">Boarding</h1>
  </div>
</div>
<div fxFlex fxHide="false" fxHide.gt-sm="true">
  <div class="barkeley-service-small">
    <h1 class="barkeley-service-title small"><i class="mdi mdi-weather-night"></i><br>Boarding</h1>
  </div>
</div>
<div class="barkeley-service-content">
  <h1>The Barkeley Hotel</h1>

  <p>Going away for a vacation or long-weekend? You can give your dog one, too, and have peace of mind that your dog is
    under the steady, protective care of our trained staff. We're committed to making The Barkeley your dog's home away
    from home.</p>

  <p><img class="barkeley-shadow-box float-right" src="../../assets/img/happy-dog.jpg">Daycare is included with our
    boarding service. Our guests will have a full day of play and, come bedtime, your pup will be tired, happy and
    ready for a good night's sleep.</p>

  <p>Our overnight guests will enjoy clean and comfortable sleeping accommodations that include a soft bed, clean
    blankets and access to fresh water at all times. At bedtime we provide a calming spa-like atmosphere with
    aromatherapy and soft soothing music to send our canine guests gently to sleep.</p>

  <p>To help us make your dog feel more relaxed and at home, please feel free to bring their favorite blanket or
    <b>non-squeak</b> toy. And you can also bring your dog’s regular food and treats. We’ll accommodate any special
    dietary needs, and we won't charge you extra for administering medication.</p>

  <p>Before your dog's first overnight or extended stay, we do encourage you to bring your pup to our location to get
    acquainted with our facility and our team.</p>

  <h1>Rates</h1>

  <p>For most of the year, regular rates apply. We do charge more during holidays (listed below). Our advice,
    particularly during holidays, is to make your reservation as soon as possible.</p>

  <h2>Regular (non-holiday) Rates</h2>

  <p>
    <b>Single</b>: $65 per night<br/>
    <b>Multi-dog family</b>: $60 for each additional dog
  </p>

  <h2>Holiday Rates</h2>

  <h4>Applicable holidays in 2017</h4>
  <ul class="barkeley-list square">
    <li>Memorial Day (May 26-29)</li>
    <li>4th of July (June 30 - July 4)</li>
    <li>Labor Day (Sep 1-4)</li>
    <li>Thanksgiving (Nov 22-26)</li>
    <li>Christmas (Dec 22-25)</li>
    <li>New Year (Dec 29 - Jan 1, 2018)</li>
  </ul>

  <p>
    <b>Single</b>: $__ per night<br/>
    <b>Multi-dog family</b>: $__ for each additional dog
  </p>

  <h1>Hours</h1>

  <p>Our facility is staffed 24 hours a day, 365 days a year. For the safety of our staff and overnight guests, please
    note that our lobby is only open at the times listed below.</p>

  <h4>Open Mon-Fri: 7am - 7pm, Sat & Sun: 9am - 5pm</h4>

  <h1>Policies</h1>

  <p>
    All dogs must have current vaccinations as prescribed by your veterinarian. Please bring a copy of your dogs
    vaccination records on your first visit - we will return them to you. We will also need an emergency telephone
    number in case we need to contact you.
  </p>

  <h2>Cancellation</h2>

  <p>We're a boutique facility with a limited number of rooms available for our guests. Because of this, we ask
    that you carefully review our cancellation policy. That said, we understand that plans can change and so we've
    adopted policies that we think are both straightforward and fair.
  </p>

  <h4>Non-holiday Cancellation</h4>

  <p>For most of the year, you may cancel your reservation with no penalty up to 1 day prior to arrival. If you cancel
    less than 24 hours before check-in, you will be charged for one night.</p>

  <h4>Holiday Cancellation</h4>

  <p>Due to high holiday demand, we require that you cancel no later than 7 days prior to your scheduled check-in. If
    you cancel less than 7 days prior to check-in, you will be charged $100. If you book your stay within 7
    days prior to check-in for a holiday and then subsequently cancel, this will also result in a $100 charge to the
    credit card on file.</p>

  <h1>The Daily Schedule</h1>

  <ul class="barkeley-list">
    <li><i class="mdi mdi-weather-sunny"></i>&nbsp;
      6:00am: Rise and shine! Time to go out!
    </li>
    <li><i class="mdi mdi-bowl"></i>&nbsp;
      6:30am: Breakfast
    </li>
    <li><i class="mdi mdi-stadium"></i>&nbsp;
      7:00am - Noon: Playtime!
    </li>
    <li><i class="mdi mdi-sleep"></i>
      Noon - 1:00pm: Nap time
    </li>
    <li><i class="mdi mdi-stadium"></i>&nbsp;
      1:00pm – 5:00pm: Playtime!
    </li>
    <li><i class="mdi mdi-food-variant"></i>&nbsp;5:00pm – 6:00pm: Dinner
    </li>
    <li><i class="mdi mdi-stadium"></i>&nbsp;
      6:00pm – 7:30pm: Playtime!
    </li>
    <li><i class="mdi mdi-weather-night"></i>&nbsp;
      7:30pm: Bed time! Sweet dreams
    </li>
  </ul>

</div>
