<div class="barkeley-service">
  <h1 class="barkeley-service-title">Boarding</h1>
</div>
<div class="barkeley-service-content">
  <h1>First Class Accommodations</h1>

  <p>Taking a vacation or weekend getaway? Why not give your dog one, too? We're committed to making The Barkeley
    your dog's home away from home. Your dog will be under the watchful and protective care of our trained staff of
    daycare specialists and overnight supervisors. We are committed to do everything we can to love and care for your
    dog as much as you do.</p>

  <h1>Rates</h1>


  <h2>By Room</h2>

  <!--  <p>
      Standard Room: $70 per night (non-holiday)
      Solo Dog Room: $95 per night
    </p>
    All hotel rates include all day daycare except solo dog rate, which includes 4 daily walks.
    HOLIDAY RATES APPLY FOR THE FOLLOWING WEEKENDS:

    Memorial Day Weekend
    Fourth of July Weekend
    Labor Day Weekend
    Columbus Day Weekend
    Thanksgiving Weekend
    Christmas Weekend
    New Years Eve Weekend

    *Please call for pricing.
    **A 10-day cancellation is required for the above holiday dates or your card will be charged the full amount of your
    stay.-->

  <h1>Policies</h1>

  <p><img class="barkeley-img-float-right" src="../../assets/img/happy-dog.jpg">[TO COME]
  </p>

  <h1>The Daily Schedule</h1>

  <p>[TO COME]
  </p>
</div>
