<div class="barkeley-service-content">
  <h1>Things to Know</h1>

  <p>If this the first time you've considered day care or boarding for your dog, please read the following
    information about our general requirements. Don't hesitate to give us a call or email us if you have any
    further questions. We want to you to be confident that our primary goal is to make sure all of the dogs in our care
    are in a healthy and safe environment.</p>

  <h2>Vaccinations</h2>

  <p><b>DHLPP/Rabies</b> vaccinations are required every three years. Dogs must also have a current immunization for <b>Bordetella
    (kennel cough)</b>.</p>

  <h2>General Health</h2>

  <p>Dogs must be in good health and free of any communicable disease for 30 days before coming to Daycare. If your dog
    becomes sick with a communicable disease, we require veterinarian certification of good health before returning to
    Daycare.</p>

  <p>Dogs must be free of fleas, ticks and worms. Flea collars are <b>not</b> allowed.</p>

  <p>If we think that your dog is unwell or has parasites, we will isolate him or her and contact you for immediate pick
    up.</p>

  <h2>Age</h2>

  <p>For group play, dogs must be at least 14 weeks of age and completed all of their puppy shots. We have separate
    yards for the
    special attention and feeding of younger puppies and senior dogs in our care.</p>

  <h2>Spay/Neuter</h2>

  <p>All dogs six months of age or older must be spayed or neutered.</p>

  <h2>Ready to Get Started?</h2>

  <p>Use our online <a href="https://the-barkmont.gingrapp.com/customer" target="_blank">customer registration</a>
    module to register with The Barkmont. Don't forget your dog's vaccination status - you can upload it to your account
    or ask your vet to send it directly to us at <i>vax@the-barkmont.com</i>.</p>
</div>
